


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ connect*/
#footer_connect{float:left;font-weight:200;}
#footer_connect h3{float:left;color:#000;font-weight:inherit;}
#footer_connect ul{float:left;clear:both;margin-top:0.2em;margin-left:0.2em;}
#footer_connect li{list-style-type: none;float:left;width:50%;}

.footer_connect_link{float:left;line-height:1.2em;margin-top:0.3em;}


.footer_connect_link div{float:left; margin:0.15em 0.8em 0 0;}
.footer_connect_link [class^=icon]{font-size:1.2em;}
.footer_connect_link .label{padding-top:0.1em;}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ mob*/
@media all and (max-width:759px) {
    #footer_connect{clear:both;width:100%;font-size:1em;border-top:1px solid #c6c6c6;padding-top:0.8em;margin-top:1em;}
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ tab*/
@media all and (min-width:760px) {
    #footer_connect{font-size:0.9em;clear:none;width:auto;}
    #footer_connect li{float:left;clear:both;width:auto;}
    #footer_connect{float:right;clear:none;font-size:0.9em;font-weight:200;width:23%;}
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ desk*/
@media all and (min-width:960px) {
    #footer_connect{font-size:1em;}
}
