
html{font-size:16px;font-family:'Open Sans', Arial, Helvetica, sans-serif;}
body{overflow-x:hidden;}



body > iframe{top:0;left:0;display:none;}

.wrapper{float:left; width:90%; margin-left:5%;}
.wrapper_largeWidth{float:left; width:100%;}

@media all and (min-width:1200px) {
   .wrapper{float:none; width:90%; margin-left:auto; margin-right:auto; max-width:1200px;}
    .wrapper_largeWidth{float:none; width:100%; margin-left:auto; margin-right:auto; max-width:1600px; }
}


.search_post_preview{margin-top:1em;}
.search_post_preview .limz_flag{font-weight:600;color:#000;}